<div class="container">
  <!--Jumbotron-->
  <div class="jumbotron text-center bg-primary text-white">
    <h1 class="display-4" id="app-title">Binge List <img src=""></h1>
    <p class="lead">All the shows that need to be binged</p>
  </div>