<div class="container">
  <!--Jumbotron-->
  <div class="jumbotron text-center bg-primary text-white">
    <h1 class="display-4" id="app-title">Binge List <img src=""></h1>
    <p class="lead">All the shows that need to be binged</p>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <H2>Needs Binging</H2>
    </div>
    <div class="offset-4 col-sm-4">
      <H2>Thoroughly Binged</H2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      {{#each shows}}
      {{#unless isbinged}}
      {{> shows/show-block isbinged=true}}
      {{/unless}}

      {{/each}}

    </div>
     <div class="col-lg-6">
      {{#each shows}}
      {{#if isbinged}}
      {{> shows/show-block isbinged=true}}
      {{/if}}

      {{/each}}

    </div>
  </div>
</div>
</div>